<?xml version="1.0" encoding="UTF-8" ?>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:t="http://myfaces.apache.org/tomahawk"
	xmlns:p="http://primefaces.org/ui"
	template="/pages/template/template_padrao.xhtml">
	
	<ui:define name="conteudo">
		<div id="container" align="left">
			<h1>Pesquisa bugs com comentários</h1>
			
			<h:form>
		        	<div align="right">			 
					<h:commandButton value="Pesquisar" action="#{bugsDoUsuarioBean.pesquisaBugsComComentarios}" />
				</div>
			</h:form>
			
			<h:dataTable
				id="tabela"
				value="#{bugsDoUsuarioBean.bugs}"
				var="bug"
				rowClasses="odd, even">
				<h:column>
					<f:facet name="header">
						<h:outputText value="ID" />
					</f:facet>
					#{bug.id}
				</h:column>
				<h:column>
					<f:facet name="header">
						<h:outputText value="Sumário" />
					</f:facet>
					#{bug.sumario}
				</h:column>
				<h:column>
					<f:facet name="header">
						<h:outputText value="Status" />
					</f:facet>
					#{bug.status}
				</h:column>
				<h:column>
					<f:facet name="header">
						<h:outputText value="Criado Em" />
					</f:facet>
					<h:outputText value="#{bug.criadoEm}">
						<f:convertDateTime pattern="dd/MM/yyyy HH:mm"/>
					</h:outputText>
				</h:column>
				<h:column>
					<f:facet name="header">
						<h:outputText value="Responsável" />
					</f:facet>
					#{bug.responsavel.nome}
				</h:column>
				<h:column rendered="true">
					<f:facet name="header">
						<h:outputText value="Comentários" />
					</f:facet>
					#{bug.comentarios.size()}
				</h:column>
			</h:dataTable>
		</div>
	</ui:define>
		
</ui:composition>